h1 {
    color: darkblue;
    text-align: center;
}

#box-one {
    background-color: cyan;
    padding: 10px;
}

#box-two {
    background-color: violet;
    padding: 10px;
}

body {
    padding: 25px;
    background-color: ##fff2f2;
    color: black;
    font-size: 25px;
}

#darkmode {
    background-color:dimgray;
    color:white;
    float: right;
}

.dark-mode {
    background-color: black;
    color: white;
    
}


    
    